body {
  
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    height: 1080;
    width:1920;
   
    color: var(--primary-text-color);
    line-height: 154%;
    margin: 0;
  }
  
  .table td,
  .table th {
    /* padding: 20px; */
  }
  .submit{
      margin-left: 500px;
  }
  .text-center{
      width: 710;
      height: 30;
      color: gray;
  }
  
  /* .img{
      height: 80;
      width: 1920;
  } */
 
  